.color {
  border: 1px solid black;
  padding: 30px;
  display: inline-block;
  position: relative;
  left: 20px;
  align-items: center;
  
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}

body {
  background-color: rgb(87, 7, 87);
}

h1 {
  color: black;
}
.pixel {
  background-color: white;
  border: 1px solid;
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: chartreuse 2px 2px 2px;
  position: relative;
  left: 80px;
  
  
  
}
#pixel-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;

}

.color:hover {
transition: 0.6s;
transform: scale(1.1);
}
