.color {
  border: 1px solid black;
  padding: 30px;
  display: inline-block;
}

.black {
  background-color: black;
}

.green {
background-color: green;
}
.orange {
    background-color:orange ;
}
.blue {
    background-color: blue;
}

body {
  background-color: rgb(87, 7, 87);
}

h1 {
  color: black;
}
main {


}
